
#main {

    padding:10px;
    background-color: white;
    min-height:100%;
    /* padding-bottom:600px;   /* Height of the footer */
    background-image: url("bar.jpeg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    /*
    width:800px;
    height:800px;
    */
}
