
#main {

    padding:10px;
    background-color: whitesmoke;
    min-height:100%;
    /* padding-bottom:600px;   /* Height of the footer */
    background-image: url("https://www.scandichotels.se/imagevault/publishedmedia/suw58cmdyrxfvvjep2a5/Scandic-Malmen-Interior-bar-Lilla-hotellbaren-over.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    /*
    width:800px;
    height:800px;
    */

}
