/* Only for this file */
form {

}

/*Log in boxes size*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 20px;

}

/*Login button*/
button {
    background-color: #111;
    color: whitesmoke;
    padding: 9px 20px;
    margin: 8px 0;
    border: 1px solid whitesmoke;
    cursor: pointer;
    width: 340px;
    font-size: 20px;

}
/*Cancel button*/
.cancelbtn {
    background-color: #111;
    color: whitesmoke;
    padding: 9px 20px;
    margin: 8px 0;
    border: 1px solid whitesmoke;
    cursor: pointer;
    width: 340px;
    font-size: 20px;

}
/*Margin between log in and top*/
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    font-family: 'Pontano Sans', sans-serif;
}

img.avatar {
    width: 40%;
    border-radius: 100%;
}
/*container for log in*/
.container {
    padding: 30px;
    font-family: 'Pontano Sans', sans-serif;
    color: whitesmoke;
    font-size: 30px;
    align-content: center;
    font-family: 'Pontano Sans', sans-serif;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;

}



.container2 {
    padding: 16px;
    font-family: 'Pontano Sans', sans-serif;
    color: whitesmoke;
    font-size: 30px;
    align-content: center;
    font-family: 'Pontano Sans', sans-serif;
    margin-left: 360px;
    margin-righ: 350px;
}


.psw{
    padding: 16px;
    font-family: 'Pontano Sans', sans-serif;
    color: whitesmoke;
    font-size: 30px;
    align-content: center;
    font-family: 'Pontano Sans', sans-serif;
    margin-left: 560px;
    margin-top: 1px;
    justify-content: center;

}



span.psw {
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 10%;
    }
}
