body {
    background-color: #333;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

img {
    padding: 1em;
}

.breaking {
    clear: both;
}


#main h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'Pontano Sans', sans-serif;
}

#firstSection {
    margin: 0 0 10px 10px;
    display:block;
}

#secondSection {
    background-color: azure;
    margin-bottom: 50px;
}
#img1 {
    float: left;
}

#img2 {
    float:right;
}


#startbox h1, .UsernameText{
    text-align: center;
    color:white;
    font-size:38px;
}

/*----------------------------------------------------Order button--------------------------------*/

#order {
    text-align:center;
    margin-top: 10px;
    margin-bottom: 30px;
}


.active {
    background-color: whitesmoke;
}


#buttonOrder {
    background-color: floralwhite;
    border: none;
    color: #000;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: lighter;
    -webkit-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
}

/* unvisited link */
a:link {
    text-decoration: none;
    margin: 0px;
}

/* visited link */
a:visited {
    color: black;
}

.center{
    margin: auto;
    width: 20%;
}

.center2{
    padding-top: 30px;
    margin: auto;
    width: 40%;
    text-align: center;
}


/*----------------------------------------------------------------------------------------------------*/
/* Taking from https://www.w3schools.com/howto/howto_css_login_form.asp */

#informationSection {
    text-align:center;
    margin: auto;
    height: 35%;
    background-color: white;
    color:black;
    padding:10px;
}


/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    border: none;
    color: #000;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: lighter;
    -webkit-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    /*
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    */
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    text-align: center;
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}