
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*-------------------------- Buttons--------------------------------------*/

#buttonUndo {
    background-color: floralwhite;
    border: none;
    color: #000;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: lighter;
    -webkit-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);

    position:fixed;
    top:90%;
    margin-top: 10px;
}

#buttonOrder{
    background-color: floralwhite;
    border: none;
    color: #000;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: lighter;
    -webkit-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);

    position:fixed;
    right:8%;
    top:90%;
    margin-top: 10px;
}

#regretOrderButton {
    background-color: #111111; /* Green */
    font-family: 'Pontano Sans', sans-serif;
    border: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 16px 33px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    margin-top: 20px;
    margin-left: 45px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

#buttonPurchase {
    background-color: whitesmoke; /* Green */
    font-family: 'Pontano Sans', sans-serif;
    border: none;
    color: #111111;
    border: 1px solid whitesmoke;
    padding: 15px 33px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*--------------------------------------------------------------------*/

/* ------------- LINKS -----------*/
/* unvisited link */
a:link {
    color: #111;
    text-decoration: none;
    font-family: 'Pontano Sans', sans-serif;
}

/* visited link */
a:visited {
    color: whitesmoke;
    font-family: 'Pontano Sans', sans-serif;
}

/*Nytt */
.block {
    float:left;
    width: 150px;
    background-color: lightgreen;
    padding: 10px;
    margin:10px;
}

li {
    list-style: none;
}






/*----------------The Menu from the database------------------------------- */

/* ----------------------------Show the menu from the database functions------------------------------------------*/



/* The Drinks*/
.divdrag {
    border: 1px solid black;
    font-family: 'Pontano Sans', sans-serif;
    color: #111111;
    margin:20px;
    width: 300px;
    height: 100px;
    float:left;
    text-align: center;
    background-color: whitesmoke;
    font-size: 20px;
    display:inline-block;
    line-height: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* Tar float så att man får den dynamiska listan efter varandra och sätter en border runt.*/
#parentDiv {
    width: 80%;
}
#childDiv{
    float:left;

}

/*
#parentDiv {
    width: 60%;
}*/

.dynamicallyDivClass {
    border: 1px solid black;
    margin:10px;
    width: 250px;
    text-align: center;
    background-color: antiquewhite;
    font-family: cursive;
    font-size: 18px;
    /* Inline-block so dynamically divs are coming after each other. */
    display:inline-block;
}

/*--------------------------------------------------------------------*/

/*----------------The Orderbox---------------------------------------------- */
/*#orderlistBox{
    position:fixed;
    right:8%;
    top:40%;
    width:360px;*/
    /*Make so it can scroll.*/
    /*
    overflow: auto;
    height: 50%;
    background-color: aliceblue;
}*/

.sectionDrinks{
    margin-left: 50px;
}

#drinks {
    width: 20px;
    height: 250px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    text-align: center;
}


#orderlistBox{
    width:300px;
    overflow: auto;
    height: 300px;
    background-color: whitesmoke;
    float:right;
    margin-right: 50px;
    clear: left;
    text-align: justify;
    margin-top: 40px;
}

/*
#orderlistBoxText h2{
    text-align:center;
    font-size: 34px;
    font-weight: bold;
    font-family: cursive;
    text-decoration: underline;
    padding-top: 0px;
}*/
/*Orderlistbox text style*/
#orderlistBoxText {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Pontano Sans', sans-serif;
    color: #111111;

}

/*-------------------------------------------------------------------------------------------------------------- */

/*----------------The rest of the page--------------------------------------------------------------------------- */
#order {
    text-align: center;
    display: inline-block;
}

.totalCost{
    margin:0;
    text-align:right;
    padding-right:20px;
    font-size: 24px;
    font-weight: bold;
}
.totalDrinks{
    margin:0;
    text-align:right;
    padding-right:20px;
    font-size: 24px;
    font-weight: bold;
}

/*-------------------------------------------------------------------------------------------------------------- */
