
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*-------------------------- Buttons--------------------------------------*/

#buttonUndo {
    background-color: floralwhite;
    border: none;
    color: #000;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: lighter;
    -webkit-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);

    position:fixed;
    top:90%;
    margin-top: 10px;
}

#buttonOrder{
    background-color: floralwhite;
    border: none;
    color: #000;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: lighter;
    -webkit-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 39px 0px rgba(0,0,0,0.75);

    position:fixed;
    right:8%;
    top:90%;
    margin-top: 10px;
}
/*--------------------------------------------------------------------*/

/*----------------The Menu from the database------------------------------- */

#parentDiv {
    width: 60%;
}

.dynamicallyDivClass {
    border: 1px solid black;
    margin:10px;
    width: 250px;
    text-align: center;
    background-color: antiquewhite;
    font-family: cursive;
    font-size: 18px;
    /* Inline-block so dynamically divs are coming after each other. */
    display:inline-block;
}

/*--------------------------------------------------------------------*/

/*----------------The Orderbox---------------------------------------------- */
#orderlistBox{
    position:fixed;
    right:8%;
    top:40%;
    width:360px;
    /*Make so it can scroll.*/
    overflow: auto;
    height: 50%;
    background-color: aliceblue;
}

#orderlistBoxText h2{
    text-align:center;
    font-size: 34px;
    font-weight: bold;
    font-family: cursive;
    text-decoration: underline;
    padding-top: 0px;
}


/*-------------------------------------------------------------------------------------------------------------- */

/*----------------The rest of the page--------------------------------------------------------------------------- */
#order {
    text-align: center;
    display: inline-block;
}

.totalCost{
    margin:0;
    text-align:right;
    padding-right:20px;
    font-size: 24px;
    font-weight: bold;
}
.totalDrinks{
    margin:0;
    text-align:right;
    padding-right:20px;
    font-size: 24px;
    font-weight: bold;
}

/*-------------------------------------------------------------------------------------------------------------- */
