input[type="checkbox"].checkb + label {
    color: #800000; 
    font-style: italic;
    font-family: Serif;
    font-size: 1.3em;
    font-weight: bold;
}

input[type="checkbox"].checkb:checked + label {
    color: #006622;
     font-style: italic;
    font-family: Serif;
    font-size: 1.3em;
    font-weight: bold;
}
#main {
    background-color: white;
}

html, body {
    background-color: white;
}

#nav-main{
        background-color: #111111;
}

.box {
    height: 20em;
    width: 25em;
    margin: 2em;
    margin-bottom: 25em;
    position: relative;
    float: left;
}
.footerr{
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    background-color: #111111;
    color: white;

}
.box img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    float: left;
}

.chk{
    height: 50%;
    width: 85%;
    position: absolute;
    margin: 10%;
    overflow-y:scroll; 
}

.number{
    text-align: center;
    font-style: italic;
    font-family: Serif;
    font-size: 2em;
    font-weight: bold;
}

.orderButton {
    background-color: #111111;
    font-style: italic;
    font-family: Serif;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 0.3em 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    height:3.5em;
    width:8em;
    margin:0.2em;

}

